*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    background-color: rgb(21, 90, 252);
    color: white;
    width: 100%;
    height: 55px;
}
nav .logo img{
    margin-left: 56%;
    margin-top: 2%;
    width: 31%;
}
.logo p{
    margin-left: 56%;

}
.logo p span{
    color: rgb(255, 191, 0);
}
nav input{
    width: 30%;
    height: 10px;
    padding: 10px;
    outline: none;
    border: none;
    margin-top: 12px;
    border-radius: 2px;
    font-size: 15px;
}
nav i{
    margin-top: 22px;
    margin-left: -25px;
    color: rgb(16, 36, 255);
    font-size: 18px;
}
.nav-info{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style: none;
    margin-top: 18px;
    margin-left: 10px;
    padding: 10px;
    font-size: 22px;
}
.nav-info>div
{
    /* border: 1 px solid red; */
    margin-inline: 25px;
    font-size: 18px;
    list-style: none;
   
}
ul{
     display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style: none;
    margin-top: 18px;
    margin-left: 10px;
    padding: 10px;
    font-size: 22px;
}
ul li a{
     /* border: 1 px solid red; */
    margin-inline: 25px;
    font-size: 18px;
    list-style: none;

}
img{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
#products {
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products>div {
    width: 23%;
    border: 1px solid rgb(110, 8, 8);
    text-align: center;
    font-size: 15px;
}

#products>div>img {
    width: 100%;
    height: 200px;
}
#singlePro {
    width: 100%;
}

#singlePro {
    border: 1px solid black;
    width: 50%;
    height: 600px;
    margin: auto;
    text-align: center;
}

#singlePro>img {
    width: 100%;
    height: 400px;
}
#singlePro>button{
    width: 20%;
    height: 50px;
    /* border: 1px solid red; */
    border-radius: 7px;
    background-color:  rgb(16, 36, 255);
    color: white;
    font-size: 15px;
}

